.head{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
}
li{
    list-style-type: none;
}


.contact{
	margin-left: -60px;
	margin-bottom: 0px;
}
.contact li{
	padding: 5px;
    
}
.contact li span{
    color: #7b7b7b;
	
}
.fa{
	color: #151b29;
}