.head{
    margin-top: 20px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
}
.goals{       
	margin-bottom: 0px;
    margin-left: -20px;
    
}
.goals li{
    
	padding: 5px;
    
}
.goals li span{    
    color: #7b7b7b;
	
}
