.head{
    margin-top: 20px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
}

.lang{
	margin-left: -20px;
	margin-bottom: 0px;
}
.lang li{
	padding: 5px;
    
}
.lang li span{
    color: #7b7b7b;
	
}